body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.parent{
    display: flex;
    border-left: 1px solid black;
    
}
.orange-color{
    color: orange;

}
.anchor-tag{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, tomato);
    color: white;
    font-weight: 400;
    border-radius: 5px;

}
.half-width{
    width: 50%;
    margin-left:10% ;
}
.half-width img{
    width: 50%;
    height: 80%;
}
.foot{
    background-color: black;
}
.last-part{
    text-align: center;
}
header{
    font-size: 20px;
}
.second-section{
    text-align:center;
    margin-top: 40px;
}
.mission{
    width: 240px;
    background-color:gainsboro ;
    border: 1px solid pink;
    border-radius: 10px;
}
.mission img{
    width: 100%;
}
.mission-vission-goal{
    display: flex;
    justify-content:space-around;
}

